:root {
  --border: 1px solid #575757;
  --border-radius: 4px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #FFFFFA;
  color: #2B2B2B;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: var(--border);

  > * {
    border-left: var(--border);
  }
  
  > *:first-child {
    border-left: none;
  }
  
  > .content {
    flex: 1;
    padding: 4px 0px;
  }
}

.container {
  height: 98vh;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  > .header {
    text-align: center;
    font-size: x-large;    
  }

  > .body {
    display: flex;
    height: 100%;
    min-height: 0px;
  }
}

.button {
  flex: 0;
  padding: 4px 8px;
  cursor: pointer;
}

.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: var(--border);

  > .header {
    flex: 0;
    flex-direction: column;
    font-weight: bold;
  }

  > .body {
    flex: 1;
    overflow-y: auto;
  }
}

.group:last-child {
 border: none;
}

.item {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 8px;

  > .header {
    font-size: x-small;
    font-weight: bold;
    color: #575757;
  }

  > .body {
    .name {
      margin-top: 4px;
    }
  
    .description {
      font-size: smaller;
      color: gray;   
      margin: 4px 0px; 
    }
  }
}

.dragger {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

#edit_dialog {  
  background-color: #FAFAFA;
  border: var(--border);
  border-radius: var(--border-radius);

  &::backdrop {
    background-color: #2B2B2B;
    opacity: .75;
  }
}
