:root {
  --border: 1px solid #575757;
  --border-radius: 4px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #cacaca;
  color: #2B2B2B;
}
  
textarea {
  resize: none;
}

.button {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  text-align: center;

  > * {
    border-right: var(--border);
  }
  
  > *:last-child {
    border-right: none;
  }
  
  > .content {
    flex: 1;
    padding: 4px 0px;
  }

  .button {
    flex: 0;
    padding: 4px 8px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  height: 98vh;
  background-color: #FFFFFA;

  > .header {
    font-size: x-large;    
  }

  > .body {
    display: flex;
    height: 100%;
    min-height: 0px;
  }
}

.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: var(--border);

  > .header {
    flex: 0;
    font-weight: bold;
  }

  > .body {
    flex: 1;
    overflow-y: auto;
  }
}

.group:last-child {
 border: none;
}

.item {
  text-align: center;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 8px;

  > .header {
    font-size: x-small;
    font-weight: bold;
    color: #575757;
  }

  > .body {
    .name {
      margin-top: 4px;
    }
  
    .description {
      font-size: smaller;
      color: rgb(94, 94, 94);
      margin: 4px 0px;
      padding: 0px 4px;
    }
  }

  &[priority="0"] {
    background-color: #96B1EB;

    .header {
      background-color: #6A9AEB;
    }
  }

  &[priority="1"] {
    background-color: #CDEB96;

    .header {
      background-color: #C7EB6A;
    }
  }

  &[priority="2"] {
    background-color: #EAA496;

    .header {
      background-color: #EB7A69;
    }
  }
}

.dragger {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

#edit_dialog {  
  background-color: #FAFAFA;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0px;

  &::backdrop {
    background-color: #2B2B2B;
    opacity: .75;
  }

  & > .body {
    min-height: 350px;
    min-width: 250px;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 16px;
    
    .property_field {
      margin: 0px;
      margin-top: 4px;
      text-align: center;

      > span {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .property_element {
      width: 100%;
      text-align: center;
      padding: 4px;
    }

    .button_block {
      display: flex;
      justify-content: space-evenly;
      margin: 8px 0px;

      .button {
        border: var(--border);
        border-radius: var(--border-radius);
        padding: 0px 8px;
      }
    }
  }
}
